In [ ]:
#vestige of getting gmaps to work
conda install -c conda-forge gmaps

In [1]:
#dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

#import API key
from api_keys import g_key

In [2]:
#load the csv exported in Part 1 to a dataframe
file = "Resources/City_Data.csv"
city_data = pd.read_csv(file)
city_data.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Rabanera del Pinar,41.89,-3.20,279.15,87,12,0.70,ES,1601446753
1,Xin’an,29.89,117.28,298.15,84,7,2.70,CN,1601446753
2,Bailian,30.60,115.44,300.71,48,4,1.51,CN,1601446754
3,Mozzagrogna,42.21,14.44,284.15,87,9,2.10,IT,1601446754
4,La Merced,5.40,-75.88,286.49,100,100,0.48,CO,1601446754

In [3]:
#humidity heatmap
#configure gmaps
gmaps.configure(api_key=g_key)
#use Lat and Lng as locations and Humidity as the weight
locations = city_data[["Lat", "Lng"]]
humidity = city_data["Humidity"].astype(float)

In [4]:
#plot heatmap with parameters; looked up coordinates for Abalessa, Algeria as my center point
figure_layout = {
    "width": "900px",
    "height": "400px",
    "border": "1px solid black",
    "padding": "1px",
    "margin": "0 auto 0 auto"
}
fig = gmaps.figure(center=(22.89, 4.86), zoom_level=2, layout=figure_layout)
#create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,
                                dissipating=False, max_intensity=100,
                                point_radius=4)
#Add layer
fig.add_layer(heat_layer)
#display figure
fig

Figure(layout=FigureLayout(border='1px solid black', height='400px', margin='0 auto 0 auto', padding='1px', wi…

In [5]:
#creating new dataframe fitting weather criteria: narrow down cities to fit weather conditions
#drop any rows with null values
#Convert "Max Temp" data from Kelvin to Fahrenheit
city_data["Max Temp F"] = city_data["Max Temp"] * 1.8 - 459.67
#city_data = city_data.dropna()
city_data

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Max Temp F
0,Rabanera del Pinar,41.89,-3.20,279.15,87,12,0.70,ES,1601446753,42.800
1,Xin’an,29.89,117.28,298.15,84,7,2.70,CN,1601446753,77.000
2,Bailian,30.60,115.44,300.71,48,4,1.51,CN,1601446754,81.608
3,Mozzagrogna,42.21,14.44,284.15,87,9,2.10,IT,1601446754,51.800
4,La Merced,5.40,-75.88,286.49,100,100,0.48,CO,1601446754,56.012
...,...,...,...,...,...,...,...,...,...,...
638,Bubenreuth,49.63,11.02,285.37,100,75,1.50,DE,1601446950,53.996
639,Ilva Mare,47.37,24.90,282.04,88,100,3.46,RO,1601446951,48.002
640,Wilga,-33.68,116.23,289.26,78,99,5.81,AU,1601446951,60.998
641,Zarubino,58.73,33.48,283.39,83,18,2.86,RU,1601446951,50.432
642,Gbongan,7.47,4.35,295.02,98,100,0.90,NG,1601446952,71.366